[submodule "kaldi-offline-transcriber"]
	path = kaldi-offline-transcriber
	url = https://github.com/alumae/kaldi-offline-transcriber.git
[submodule "espnet"]
	path = espnet
	url = git@clarin06.ims.uni-stuttgart.de:Pavel/espnet.git
	branch = multi
